p {
    font-family: Arial;
}
.new {
    font-weight: bold;
    font-size: 30px;
    color: rgb(232, 142, 6);
    margin-left: 790px;
    margin-bottom: 10px;
}
.item {
    font-weight: bold;
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin-left: 655px;
    margin-top: 10px;
    margin-bottom: 10px;;
}
.charge {
    font-weight: bold;
    font-size: 70px;
    color: rgb(0, 0, 0);
    margin-left: 475px;
    margin-top: 10px;
}
.search-bar {
    width: 300px;
    height: 30px;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 16px;
    vertical-align: center;
    border-radius: 20px;
    width: 500px;
    border: none;
    box-shadow: 0px 0px 8px rgb(95, 95, 95);
}
.thanks {
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 520px;
    margin-top: 50px;
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}
button {
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: rgb(0,0,0);
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    box-shadow: 0px 0px 7px rgb(164, 164, 164);
    margin-top: 50px;
    vertical-align: middle;
    margin-top: 30px;
}
button:hover {
    cursor: pointer;
    opacity:0.8;
}
.notification {
    width: 500px;
    height: 180px;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    margin-left: 600px;;
    
}
.apple_logo {
    vertical-align: middle;
    margin-left: 188px;
    margin-right: 200px;
}
.install {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 110px;
    font-family: Arial;
    width: 300px;
}