body {
            margin: 0;
            padding: 0;
            height: 3000px;
            background-color: rgb(255, 255, 255);
        }
.main-content {
            margin-top: 150px;
            display: flex;
            flex-direction: column;
        }
.intro {
            font-family: Arial;
            font-size: 50px;
            font-weight: bold;
            display:inline-block;
            width:830px;
            margin-left: 50px;
            margin-bottom: 50px;
        }
.show {
            margin-bottom: 30px;
            display:flex;
            flex-direction: row;
            align-items: center;
        }

button:hover {
            opacity: 0.8;
            cursor: pointer;
        }
button:active {
            opacity: 0.5;
        }